@import "tailwindcss";
@import "@design-system/tokens/styles/tokens.css";
@import "@design-system/tokens/styles/utilities.css";
@import "tw-animate-css";

@source "../src/**/*.{ts,tsx}";

body {
  background-color: var(--color-surface-canvas);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}
